# Ignore Terraform and infrastructure-related files
infra/
*.tf
*.tfstate
*.tfvars

# Ignore version control files
.git
.gitignore

# Ignore documentation files
*.md

# Ignore other unnecessary files and directories
__pycache__/
*.log
*.tmp
.env
charts/
